<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="E2E Workflow Suite" parallel="false" verbose="1">
    <listeners>
        <listener class-name="com.org.apitest.base.listeners.ConfigListener"/>
        <listener class-name="com.org.apitest.base.listeners.TraceIdListener"/>
        <listener class-name="com.org.apitest.base.listeners.CleanupListener"/>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="E2E Workflow Tests">
        <packages>
            <package name="com.org.apitest.e2e"/>
        </packages>
    </test>
</suite>
