<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Order Service Test Suite" parallel="methods" thread-count="4" verbose="1">
    <listeners>
        <listener class-name="com.org.apitest.base.TestExecutionListener"/>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="Order Service Tests">
        <packages>
            <package name="com.org.apitest.order"/>
        </packages>
    </test>
</suite>
